
<!--home section starts -->

<section class="home" id="home">
    <div class="content">
        <h3> Lets Face It</h3>
        <span>Your glow-up starts here. </span>
       <p>We are launching our business with a range of products and will be collaborating with Irish Make-up Artists such as.</p>
    <ul>
      <li>Ella & Jo</li>
      <li>Kash Beauty</li>
      <li>SOSU Cosmetics</li>
    </div>
</section>

<style> </style>