<!--slider images -->
<div class="slider">
  <div class="slide-track">
    <!--3 slides -->
    <div class="slide 1">
     <img src="/public/picture1.jpg" alt="picture 1" />
    </div>
       <div class="slide 2">
    <img src="/public/picture2.jpg" alt="picture 2" />
       </div>
         <div class="slide 3">
    <img src="/public/picture3.jpg" alt="picture 3" />
        </div>
